DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=

LOG_CHANNEL_ID=
ERROR_CHANNEL_ID=
DIGEST_CHANNEL_ID=
DISCUSSION_CHANNEL_ID=
VOTING_RESULTS_CHANNEL_ID=

LEAD_ROLE_ID=
ADMIN_ROLE_ID=
